extends layout.pug

mixin definitionList(s, index) 
    dl.mb-5
        if s.title
            //- script 
            //-     | console.log(!{JSON.stringify(s)})
            dt(itemprop=(s.lists ? "name" : false))= s.title
            dd
                section= s.description
                    if s.organizations
                        each o in s.organizations
                            - var organization = o.type ? 'EducationalOrganization' : 'Organization';
                            div(itemscope, itemtype="http://schema.org/" + organization)
                                if o.title
                                    h2.fs-3
                                        span(itemprop="jobTitle")= o.title
                                if o.course
                                    h2.fs-3.mb-0
                                        span(itemprop="name")= o.course
                                p.mb-0
                                    span(itemprop="name")= o.name
                                if o.address
                                    div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
                                        span(itemprop="streetAddress")= o.address.streetAddress
                                        |,&nbsp;
                                        span(itemprop="addressLocality")= o.address.addressLocality 
                                        |,&nbsp;
                                        span(itemprop="addressRegion")= o.address.addressRegion
                                        |,&nbsp;
                                        span(itemprop="postalCode")= o.address.postalCode
                                        |&nbsp;
                                        span(itemprop="addressCountry")= o.address.addressCountry
                                p
                                    span.text-muted #{o.date.start} 
                                        if o.date.end
                                            | — #{o.date.end}
                                p
                                    span(itemprop="description") !{o.description}
                                    br 
                                    if o.link
                                        a(itemprop="url", href=o.link.url, target="_blank", title=o.link.text)= o.link.text
                    if s.lists
                        .row
                            each l in s.lists
                                .col
                                    ul.marker-list
                                        each i in l
                                            li(itemprop="itemListElement", itemscope) !{i}
    
block header 
    <nav class="navbar navbar-light bg-primary bg-gradient sticky-top bg-opacity-50 d-print-none py-3">
        <div class="container">
            <div class="d-flex">        
                
                <div class="input-group">
                    <label class="input-group-text bg-transparent" for="inputGroupSelect01">
                        <svg class="bi text-white" width="32" height="32" fill="currentColor">
                            <use xlink:href="bootstrap-icons.svg#translate"/>
                        </svg>
                    </label>
                    <select data-i18n-switcher class="form-select bg-transparent text-white" id="inputGroupSelect01" aria-label="Choose Language">
                        <option value="en">English</option>
                        <option value="it">Italiano</option>
                    </select>
                </div>
                
            </div>
            a.btn.btn-primary.text-light(href= download_button, role="button", target="_blank" )
                span.d-none.d-sm-inline-block.align-middle(data-i18n-key="download_button") nav_button 
                | &nbsp;
                <svg class="bi" width="32px" height="32px" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#file-earmark-pdf-fill"/>
                </svg>
        </div>
    </nav>
block content 
    <div class="container shadow p-5 bg-white my-5" style="--bs-border-opacity: .8; max-width: 794px;">
        <header>
            <section>
                <div itemscope itemtype="http://schema.org/Person">

                    <div class="row mb-4">
                        
                        <div class="col-sm-6">
                            <img class="rounded-circle mb-4" src="https://s.gravatar.com/avatar/cacd939ed4fbbea7e739d737e3411dc3?s=250" itemprop="image" width="150" height="150" alt="Your Name">

                            <h1 class="text-dark fw-bold" style="font-family: var(--bs-font-sans-serif);"><span itemprop="name">Giacomo Secchi</span></h1>
                    
                            <h3><span itemprop="jobTitle">Web Developer / Ecommerce Specialist</span></h3> 
                        </div> 
                        <div class="col-sm-6">
                            <ul class="list-unstyled">
                                <li>
                                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                        <svg class="bi" width="1.4em" height="1.4em" fill="currentColor">
                                            <use xlink:href="bootstrap-icons.svg#geo-alt-fill"/>
                                        </svg>
                                        <span itemprop="addressLocality">Modena</span>, <span itemprop="addressCountry">IT</span>
                                    </div>
                                </li>
                                <li>
                                    <svg class="bi me-2" width="1em" height="1em" fill="currentColor">
                                        <use xlink:href="bootstrap-icons.svg#telephone-fill"/>
                                    </svg>
                                    <span itemprop="telephone" content="+393407119634">(0039) 340 7119634</span>
                                </li>
                                <li>
                                    <svg class="bi me-2" width="1em" height="1em" fill="currentColor">
                                        <use xlink:href="bootstrap-icons.svg#envelope-at-fill"/>
                                    </svg>
                                    <a href="mailto:giacomo.secchi@gmail.com" itemprop="email">giacomo.secchi@gmail.com</a>
                                </li>
                                <li>
                                    <svg class="bi me-2" width="1em" height="1em" fill="currentColor">
                                        <use xlink:href="bootstrap-icons.svg#globe2"/>
                                    </svg>
                                    <a rel="me" itemprop="url" href="https://giacomosecchi.com" title="https://giacomosecchi.com">giacomosecchi.com</a>
                                </li>
                                <li>
                                    <svg class="bi me-2" width="1em" height="1em" fill="currentColor">
                                        <use xlink:href="bootstrap-icons.svg#github"/>
                                    </svg>
                                    <a rel="me" itemprop="url" href="https://github.com/giacomo-secchi" title="Follow Me on Twitter">@giacomo-secchi</a>
                                </li>
                                <li class="align-items-start mb-1">
                                    <svg class="bi me-2" width="1em" height="1em" fill="currentColor">
                                        <use xlink:href="bootstrap-icons.svg#linkedin"/>
                                    </svg>
                                    <a rel="me" itemprop="url" href="https://www.linkedin.com/in/giacomosecchi/" title="Follow Me on Twitter">Giacomo Secchi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>         
            </section>
        </header>
        
        each s, index in sections
            if s.lists
                div(itemscope, itemtype="http://schema.org/ItemList")
                    +definitionList(s, index)
            else     
                +definitionList(s, index)
        p
            small.text-muted= privacy

    </div>
block scripts
  script(src='/main.js')