extends layout.pug

block header 
    <nav class="navbar navbar-light bg-primary bg-gradient sticky-top bg-opacity-50">
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">        
                <svg class="bi" width="1em" height="1em" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#translate"/>
                </svg>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="en">English</option>
                    <option value="it">Italiano</option>
                </select>
            </ul>
            <a class="btn btn-outline-light" href="Giacomo_Secchi_CV.pdf" role="button" target="_blank">
                = nav_button 
                | &nbsp;
                <svg class="bi" width="1em" height="1em" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#file-earmark-pdf"/>
                </svg>            
            </a>
        </div>
    </nav>
block content 
    <div class="container shadow p-5 bg-white my-5" style="--bs-border-opacity: .8; max-width: 794px;">
        <header>
            <section>
                <div itemscope itemtype="http://schema.org/Person">

                    <div class="row">
                        <div class="col-md-2">
                            <img class="rounded-circle w-100 h-auto" src="https://lh3.googleusercontent.com/xSZgKvwNkC61-iJ5ch3juW-VKDkGPDKdPK9c81N6WbmD9XX633GEfFkNAJgp4nuRF9gz7ZDayW76xgNx9A=s592-rw-no" itemprop="image" width="150" height="150" alt="Your Name" />
                        </div>
                        <div class="col-md-6">
                            <h1><span itemprop="name">Giacomo Secchi</span></h1>
                    
                            <h3><span itemprop="jobTitle">Web Developer / Designer</span></h3>
                            
                        </div> 
                        <div class="col-md-4">
                            <ul class="ps-0">
                                <li class="d-flex align-items-start mb-1">
                                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                        <svg class="bi" width="1em" height="1em" fill="currentColor">
                                            <use xlink:href="bootstrap-icons.svg#geo-alt-fill"/>
                                        </svg>
                                        <span itemprop="addressLocality">Modena</span>, <span itemprop="addressCountry">IT</span>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start mb-1">
                                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                                        <use xlink:href="bootstrap-icons.svg#telephone-fill"/>
                                    </svg>
                                    <span itemprop="telephone">(000) 000-0000</span>
                                </li>
                                <li class="d-flex align-items-start mb-1">
                                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                                        <use xlink:href="bootstrap-icons.svg#envelope-at-fill"/>
                                    </svg>
                                    <a href="mailto:giacomo.secchi@gmail.com" itemprop="email">giacomo.secchi@gmail.com</a>
                                </li>
                                <li class="d-flex align-items-start mb-1">
                                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                                        <use xlink:href="bootstrap-icons.svg#globe2"/>
                                    </svg>
                                    <a rel="me" itemprop="url" href="http://www.webcodepro.net/about.php" title="www.your-website.com">www.your-website.com</a>
                                </li>
                                <li class="d-flex align-items-start mb-1">
                                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                                        <use xlink:href="bootstrap-icons.svg#github"/>
                                    </svg>
                                    <a rel="me" itemprop="url" href="https://github.com/giacomo-secchi" title="Follow Me on Twitter">@giacomo-secchi</a>
                                </li>
                                <li class="d-flex align-items-start mb-1">
                                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                                        <use xlink:href="bootstrap-icons.svg#linkedin"/>
                                    </svg>
                                    <a rel="me" itemprop="url" href="https://www.linkedin.com/in/giacomosecchi/" title="Follow Me on Twitter">Giacomo Secchi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>         
            </section>
        </header>
        
        
        each s in sections
            dl
                if s.title
                    dt= s.title
                    dd
                        section= s.description
                            if s.organizations
                                each o in s.organizations
                                    - var organization = o.type ? 'EducationalOrganization' : 'Organization';
                                    div(itemscope, itemtype="http://schema.org/" + organization)
                                        h2
                                            span(itemprop="jobTitle")= o.title

                                        if o.address
                                            div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
                                                span(itemprop="streetAddress")= o.address.streetAddress
                                                br
                                                <br />
                                        <span itemprop="addressLocality">Toledo</span>, <span itemprop="addressRegion">Ohio</span>, <span itemprop="postalCode">43606</span><span itemprop="addressCountry">U.S.A.</span>
                                        </div>

                                        p
                                            span(itemprop="name")= o.name
                                        p
                                            span.text-muted #{o.date_start} - #{o.date_end}
                                        p
                                            span(itemprop="description")= o.description
                                            br 
                                            if o.link
                                                a(itemprop="url", href=o.link.url, target="_blank", title=o.link.text)= o.link.text

                 
    </div>
block scripts
  script(src='main.js')