extends layout

mixin wrapper(condition)
    if condition
        div(itemscope, itemtype="http://schema.org/ItemList")
            block
    else
        block

mixin definitionList(s, index)
    +wrapper(s.lists)
        dl.mt-5
            if s.title
                dt.text-capitalize.mb-3(itemprop=(s.lists && "name"))
                    <svg class="bi text-dark-subtle me-2" width="1em" height="1em" fill="currentColor">
                        use(xlink:href="/bootstrap-icons.svg#" + s.icon)
                    </svg>
                    = s.title
                dd= s.description
                    if s.organizations
                        each o in s.organizations
                            - var organization = o.type ? 'EducationalOrganization' : 'Organization';
                            div.mb-4(itemscope, itemtype="http://schema.org/" + organization)
                                if o.title
                                    h2.h4
                                        span(itemprop="jobTitle")= o.title
                                if o.course
                                    h2.h4.mb-0
                                        span(itemprop="name")= o.course
                                p.mb-0
                                    span(itemprop="name")= o.name
                                if o.address
                                    div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
                                        span(itemprop="streetAddress")= o.address.streetAddress
                                        |,&nbsp;
                                        span(itemprop="addressLocality")= o.address.addressLocality 
                                        |,&nbsp;
                                        span(itemprop="addressRegion")= o.address.addressRegion
                                        |,&nbsp;
                                        span(itemprop="postalCode")= o.address.postalCode
                                        |&nbsp;
                                        span(itemprop="addressCountry")= o.address.addressCountry
                                p
                                    span.text-muted #{o.date.start} 
                                        if o.date.end
                                            | — #{o.date.end}
                                p(itemprop="description") !{o.description}
                                    if o.link
                                        <br>
                                        a(itemprop="url", href=o.link.url, target="_blank", title=o.link.text)= o.link.text
                    if s.lists
                            .row
                                each l in s.lists
                                    .col
                                        ul(class=(s.color && `marker-list-${s.color}`))
                                            each i in l
                                                li(itemprop="itemListElement", itemscope) !{i}
        
 
 
block content
    .p-md-4
    .container-fluid
        .row.flex-md-row-reverse.d-print-block
            .col-md-3.helper-menu.sticky-top.h-100.d-print-none
                ul.nav.justify-content-between.align-items-center.align-items-md-start.flex-md-column
                    .nav-item
                        <svg class="bi text-black-50" width="1em" height="1em" fill="currentColor">
                            <use xlink:href="/bootstrap-icons.svg#translate"/>
                        </svg>
                        ul.nav.nav-divider.mx-n3(style={'--bs-nav-link-color': 'var(--bs-gray)'})
                            each lang, code in (typeof languageNames !== 'undefined' && Object.keys(languageNames).length ? languageNames : [['No languages available', '']])
                                - var currentLang = (code == language)
                                li.nav-item
                                    a.nav-link(href=`/?lang=${code}`, class=(currentLang && "active"), aria-current=(currentLang && "page"))= lang
                    .nav-item
                        <div class="btn-group py-md-3" role="group" aria-label="Change color theme">
                            <button type="button" class="btn btn-sm bg-dark-subtle text-light" data-bs-theme-value="light">
                                <svg class="bi" width="1em" height="1em" fill="currentColor">
                                    <use href="/bootstrap-icons.svg#sun"/>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-sm bg-dark-subtle text-light" data-bs-theme-value="dark">
                                <svg class="bi" width="1em" height="1em" fill="currentColor">
                                    <use href="/bootstrap-icons.svg#moon-stars-fill"/>
                                </svg>
                            </button>
                        </div>
                    .nav-item
                        a.btn.btn-primary.text-light(href=t('download_file') role="button", target="_blank")
                            span.d-none.d-sm-inline-block.align-middle= t('download_button') 
                            | &nbsp;
                            <svg class="bi" width="32px" height="32px" fill="currentColor">
                                <use xlink:href="/bootstrap-icons.svg#file-earmark-pdf-fill"/>
                            </svg>
            .col-md-8.col-lg-6.shadow-sm.p-5.bg-white.paper
                <header>
                    <section>
                        <div itemscope itemtype="http://schema.org/Person">

                            <div class="row">
                                
                                <div class="col-sm-6">
                                    <img class="rounded-circle" src="https://s.gravatar.com/avatar/cacd939ed4fbbea7e739d737e3411dc3?s=250" itemprop="image" width="150" height="150" alt="Giacomo Secchi">

                                    <h1 class="fw-bold mt-4" style="font-family: var(--bs-font-sans-serif);"><span itemprop="name">Giacomo Secchi</span></h1>
                            
                                    <h3><span itemprop="jobTitle">Web Developer / Ecommerce Specialist</span></h3> 
                                </div> 
                                <div class="col-sm-6">
                                    
                                    <ul class="list-group list-group-flush rounded-4 mt-4 mt-sm-0">
                                        <li class="list-group-item">
                                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                <svg class="bi text-dark-subtle" width="1.4em" height="1.4em" fill="currentColor">
                                                    <use xlink:href="/bootstrap-icons.svg#geo-alt-fill"/>
                                                </svg>
                                                <span itemprop="addressLocality">Modena</span>, <span itemprop="addressCountry">IT</span>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <svg class="bi text-dark-subtle me-2" width="1em" height="1em" fill="currentColor">
                                                <use xlink:href="/bootstrap-icons.svg#telephone-fill"/>
                                            </svg>
                                            <span itemprop="telephone" content="+393407119634">(0039) 340 7119634</span>
                                        </li>
                                        <li class="list-group-item">
                                            <svg class="bi text-dark-subtle me-2" width="1em" height="1em" fill="currentColor">
                                                <use xlink:href="/bootstrap-icons.svg#envelope-at-fill"/>
                                            </svg>
                                            <a href="mailto:giacomo.secchi@gmail.com" itemprop="email">giacomo.secchi@gmail.com</a>
                                        </li>
                                        <li class="list-group-item">
                                            <svg class="bi text-dark-subtle me-2" width="1em" height="1em" fill="currentColor">
                                                <use xlink:href="/bootstrap-icons.svg#globe2"/>
                                            </svg>
                                            <a rel="me" itemprop="url" href="https://giacomosecchi.com" title="https://giacomosecchi.com">giacomosecchi.com</a>
                                        </li>
                                        <li class="list-group-item">
                                            <svg class="bi text-dark-subtle me-2" width="1em" height="1em" fill="currentColor">
                                                <use xlink:href="/bootstrap-icons.svg#github"/>
                                            </svg>
                                            <a rel="me" itemprop="url" href="https://github.com/giacomo-secchi" title="Follow Me on Twitter">@giacomo-secchi</a>
                                        </li>
                                        <li class="list-group-item align-items-start mb-1">
                                            <svg class="bi text-dark-subtle me-2" width="1em" height="1em" fill="currentColor">
                                                <use xlink:href="/bootstrap-icons.svg#linkedin"/>
                                            </svg>
                                            <a rel="me" itemprop="url" href="https://www.linkedin.com/in/giacomosecchi/" title="Follow Me on Twitter">Giacomo Secchi</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>         
                    </section>
                </header>
                
                each section, index in sections
                    +definitionList(section, index)
                p
                    small.text-muted= t('privacy_text')
            .col-md-3


block scripts
    script(src='/main.min.js')
    //- script 
    //-     | console.log(!{JSON.stringify(languageNames)})